[Unit]
Description=Automatic running of USB devices
Requires=mnt-rootmirror.mount
Requires=robotd.service

[Service]
ExecStart=/usr/bin/runusb --bind /var/robotd

[Install]
WantedBy=multi-user.target
