[Unit]
Description=Automatic running of USB devices
Requires=mnt-rootmirror.mount
After=robotd.service
Requires=robotd.service

[Service]
ExecStart=/usr/bin/runusb

[Install]
WantedBy=multi-user.target
