Source: runusb
Section: electronics
Priority: optional
Maintainer: Alistair Lynn <arplynn@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-systemd,
Standards-Version: 3.9.6

Package: runusb
Architecture: all
Depends: ${misc:Depends},
         adduser,
         apt,
         dpkg-dev,
         python3,
         systemd-sysv,
         uhubctl,
         usbmount (>= 0.0.24),
Description: Automagic running of USB sticks
 Runs .autorun files from mounted USB sticks - or other filesystems -
 automatically, and safely containerised.
