Source: runusb
Section: electronics
Priority: optional
Maintainer: Alistair Lynn <arplynn@gmail.com>
Build-Depends: debhelper (>= 9), python3, python3-virtualenv, dh-virtualenv
Standards-Version: 3.9.6

Package: runusb
Architecture: any
Pre-Depends: ${misc:Pre-Depends}, dpkg, python3
Depends: ${misc:Depends},
         adduser,
         python3,
         uhubctl
Description: Automagic running of USB sticks
 Runs .autorun files from mounted USB sticks - or other filesystems -
 automatically, and safely containerised.
