Source: runusb
Section: electronics
Priority: optional
Maintainer: Alistair Lynn <arplynn@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-systemd,
Standards-Version: 3.9.6

Package: runusb
Architecture: all
Depends: ${misc:Depends},
         python3,
         robotd,
         systemd-container,
Description: Automagic running of USB sticks
 Runs .autorun files from mounted USB sticks - or other filesystems -
 automatically, and safely containerised.
